/* styles/main.css */

body,
html {
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

header.main-header {
    background-color: white;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-icon {
    height: 30px;
    width: auto;
    vertical-align: middle;
}

.separator {
    margin: 0 10px;
    color: #999;
}

.logo-text {
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.main-nav {
    display: flex;
    gap: 20px;
}

.nav-item {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon {
    width: 30px;
    height: 25px;
}

.subscribe {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: rgb(19, 19, 202);
    font-weight: bold;
}

.arrow-right {
    margin-right: 5px;
    color: blue;
}

.language-button {
    background-color: transparent;
    border: none;
    color: #333;
    cursor: pointer;
    font-weight: bold;
}

@media (max-width: 768px) {
    .main-nav {
        display: none;
    }

    .header-actions {
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .logo-text {
        font-size: 14px;
    }

    .subscribe {
        font-size: 14px;
    }
}

/* main */
main {
    padding-top: 60px;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero-image-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.hero-image {
    max-width: 80%;
    height: auto;
    display: block;
    border-radius: 15px;
}

.hero-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.hero-title {
    font-size: calc(1.5rem + 1vw);
    font-weight: bold;
    margin-bottom: 10px;
    max-width: 100%;
}

.hero-text {
    font-size: calc(1rem + 0.5vw);
    line-height: 1.5;
    margin-bottom: 20px;
    max-width: 100%;
}

.hero-button {
    display: block;
    margin-left: 0;
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: calc(0.875rem + 0.5vw);
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}

.hero-button:hover {
    background-color: darkblue;
}

.spacer {
    height: 50px;
}

.spacer-small {
    height: 20px;
}


.text-section {
    text-align: left;
    margin: 0 auto;
    width: 60%;
    box-sizing: border-box;
    margin-top: 60px;
}

.section-title {
    font-size: calc(1.25rem + 1.2vw);
    margin-bottom: 15px;
}

.package-title {
    font-size: calc(0.6rem + 1vw);
    margin-bottom: 10px;
    text-align: left;
}

.section-text {
    font-size: calc(1rem + 0.5vw);
    line-height: 1.5;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero-title {
        font-size: 28px;
    }

    .hero-text {
        font-size: 16px;
    }

    .hero-button {
        font-size: 14px;
        padding: 8px 16px;
    }

    .section-title {
        font-size: 22px;
    }

    .section-text {
        font-size: 14px;
    }

    .text-section {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .hero-title {
        font-size: 24px;
    }

    .hero-text {
        font-size: 14px;
    }

    .hero-button {
        font-size: 12px;
        padding: 6px 12px;
    }

    .section-title {
        font-size: 20px;
    }

    .section-text {
        font-size: 12px;
    }

    .text-section {
        width: 95%;
    }
}

/* photo composition */
.photo-composition {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px auto;
    max-width: 60%;
    box-sizing: border-box;
}

.photo-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 500px;
    width: 50%;
}

.photo-item {
    display: block;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    height: calc(50vh - 20px);
}

.photo-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 15px;
}

.photo-overlay {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: white;
    text-align: left;
}

.photo-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.photo-subtitle {
    font-weight: normal;
    font-size: 1.1em;
    text-decoration: underline;
}

.photo-right {
    width: 50%;
    height: 500px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .photo-composition {
        flex-direction: column;
        align-items: center;
    }

    .photo-left,
    .photo-right {
        width: 100%;
    }

    .photo-right {
        height: auto;
    }
}

.info-boxes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px auto;
    max-width: 60%;
    box-sizing: border-box;
}

.info-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 100%;
    box-sizing: border-box;
    height: 180px;
}

.info-title {
    font-size: 2.7em;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 15px;
}

.info-subtitle {
    font-size: 1em;
    margin-left: 15px;
    color: #555;
}

/* Responsive Design */
@media (max-width: 768px) {
    .info-boxes {
        flex-direction: column;
        align-items: center;
    }

    .info-box {
        max-width: 100%;
        width: auto;
    }
}

.text-section-title {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    max-width: 60%;
    box-sizing: border-box;
}

.text-section-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-bottom: 10px;
}

.package-title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

.view-all-link {
    color: rgb(19, 19, 202);
    ;
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
}

.view-all-link:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .text-section-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .view-all-link {
        margin-top: 10px;
    }
}

/* Scrollable Section */
.scrollable-section {
    margin: 40px auto;
    max-width: 60%;
    position: relative;
    overflow: hidden;
}

.scroll-container {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    height: 350px;
}

.scroll-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.scroll-item {
    width: 335px;
    margin-right: 20px;
    flex-shrink: 0;
}

.scroll-image {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.scroll-box {
    background-color: white;
    padding: 10px;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.scroll-title {
    font-weight: bold;
    margin: 20px 20px;
    text-align: left;
    font-size: 18px;
}

.scroll-subtitle {
    color: grey;
    font-size: 14px;
    margin: 20px 20px;
}

.scroll-footer {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    z-index: 10;
}

.scroll-indicator {
    flex: 1;
    display: flex;
    align-items: center;
}

.scroll-indicator-line {
    background: #ddd;
    height: 5px;
    width: 90%;
    margin-right: 10px;
}

.scroll-indicator-active {
    background: rgb(19, 19, 202);
    height: 100%;
    width: 0;
    transition: width 0.3s;
}

/* Scroll controls styles */
.scroll-controls {
    display: flex;
    justify-content: flex-end;
}

.scroll-arrow {
    background-color: #f1f1f1;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 0 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .scroll-item {
        width: 200px;
    }

    .scroll-controls {
        left: 5px;
        right: 5px;
    }

    .scroll-indicator {
        width: 80%;
    }
}

/* get the app part */
.info-section {
    display: flex;
    background-color: white;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.info-content {
    display: flex;
    width: 85%;
    align-items: center;
}

.info-text {
    flex: 1;
    padding-left: 25%;
    padding-right: 20px;
}

.info-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.space {
    height: 20px;
}

.info-subtitle {
    font-size: 16px;
    color: grey;
    margin-bottom: 10px;
}

.info-buttons {
    display: flex;
    gap: 10px;
}

.info-button {
    border: none;
    background: none;
    cursor: pointer;
}

.info-button img {
    max-width: 100px;
}

.info-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-image img {
    max-height: 400px;
    width: auto;
}

.info-structures {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 60%; 
    margin: auto;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

.info-structure {
    flex: 1;
    max-width: 33%;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.structure-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.structure-text {
    padding: 15px;
}

.structure-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 10px 10px;
}

.structure-description {
    font-size: 15px;
    color: grey;
    margin: 0;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 10px 0 10px 10px;
}

@media (max-width: 768px) {
    .info-structures {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 10px;
        max-width: 100%;
    }

    .info-structure {
        width: 100%;
        max-width: none;
    }

    .structure-image {
        height: auto;
    }

    .structure-title {
        font-size: 16px;
    }

    .structure-description {
        font-size: 14px;
    }
}

@media (max-width: 480px) {

    .info-structures {
        padding: 10px;
    }

    .structure-title {
        font-size: 14px;
    }

    .structure-description {
        font-size: 12px;
    }
}


@media (max-width: 768px) {
    .info-content {
        flex-direction: column;
        align-items: center;
    }

    .info-text {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    .info-title {
        font-size: 20px;
    }

    .info-subtitle {
        font-size: 14px;
    }

    .info-buttons {
        gap: 5px;
    }

    .info-button img {
        max-width: 70px;
    }

    .info-image img {
        max-height: 250px;
    }
}

@media (max-width: 480px) {
    .info-title {
        font-size: 18px;
    }

    .info-subtitle {
        font-size: 12px;
    }

    .info-buttons {
        gap: 5px;
    }

    .info-button img {
        max-width: 60px;
    }

    .info-image img {
        max-height: 200px;
    }
}

.picture-section {
    position: relative;
    width: 60%;
    margin: auto;
    box-sizing: border-box;
    padding-top: 60px;
}

.main-picture {
    width: 100%;
    height: 400px;
    display: block;
    border-radius: 15px;
}

.text-overlay {
    position: absolute;
    top: 35%;
    left: 10%;
    color: white;
    text-align: left;
}

.overlay-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
}

.overlay-subtitle {
    font-size: 18px;
    margin-bottom: 20px;
}

.overlay-button {
    padding: 10px 20px;
    border: none;
    background-color: rgb(19, 19, 202);
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .picture-section {
        width: 80%; 
    }

    .text-overlay {
        top: 10%;
        left: 5%;
    }

    .overlay-title {
        font-size: 18px;
        margin-top: 150px;
    }

    .overlay-subtitle {
        font-size: 12px;
    }

    .overlay-button {
        font-size: 10px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .picture-section {
        width: 100%; 
    }

    .text-overlay {
        top: 5%;
        left: 5%;
    }

    .overlay-title {
        font-size: 14px;
    }

    .overlay-subtitle {
        font-size: 8px;
    }

    .overlay-button {
        font-size: 6px;
        padding: 6px 12px;
    }
}

/* prize scroll */
.scroll-item-prize {
    display: inline-block;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
    white-space: normal;
    min-width: 360px;
    height: 250px; 
    box-sizing: border-box;
    margin-right: 20px;
    width: 350px
}

.scroll-image-prize {
    width: 130px; 
    height: auto;
    display: block; 
    margin-left: 30px; 
    border-radius: 8px 8px 0 0;
    padding-top: 30px;
}

.scroll-box-prize {
    padding: 15px;
    background-color: white;
}

.scroll-footer-prize {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    z-index: 10;
}

.scroll-indicator-prize {
    flex: 1;
    display: flex;
    align-items: center;
}

.scroll-indicator-line-prize {
    background: #ddd;
    height: 5px;
    width: 90%;
    margin-right: 10px;
}

.scroll-indicator-active-prize {
    background: rgb(19, 19, 202);
    height: 100%;
    width: 0;
    transition: width 0.3s;
}

.scrollable-section-prize {
    margin: 40px auto;
    max-width: 60%;
    position: relative;
    overflow: hidden;
}

.scroll-container-prize {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    height: 350px;
}

.scroll-content-prize {
    display: flex;
    transition: transform 0.5s ease-in-out;
}


@media (max-width: 768px) {
    .scrollable-section-prize {
        max-width: 90%;
    }

    .scroll-item-prize {
        min-width: 100px;
        max-width: 250px;
    }

    .scroll-title {
        font-size: 14px;
    }

    .scroll-subtitle {
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .scrollable-section-prize {
        max-width: 100%;
    }

    .scroll-item-prize {
        min-width: 160px;
        max-width: 220px;
    }

    .scroll-title {
        font-size: 10px;
    }

    .scroll-subtitle {
        font-size: 8px;
    }
}

/* General footer styles */
.footer {
    background-color: #ffffff;
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
}

.footer-top {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
}

.footer-logo-title {
    display: flex;
    align-items: center;
    max-width: 60%;
    margin-left: 20%;
}

.footer-logo {
    height: 40px;
    margin-right: 10px;
}

.footer-title {
    font-size: 24px;
    font-weight: bold;
}


.footer-bottom {
    font-size: 14px;
    /* font-weight: bold; */
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
    max-width: 60%;
    margin-left: 20%;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    max-width: 300px;
    box-sizing: border-box;
    padding: 10px;
}

.footer-section h4 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section li {
    margin-bottom: 8px;
    font-size: 14px;
}
.footer-line {
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

@media (max-width: 768px) {
    .footer-logo-title {
        margin-left: 0;
        transform: translateX(0);
        justify-content: center;
        width: 100%;
    }

    .footer-section {
        max-width: 100%;
    }
}
